<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<!-- Main Container -->
<div class="container" *ngIf="!isLoading">
  <!-- Page Title -->
  <h1 style="text-align: center; font-weight: 700">MARK ATTENDANCE</h1>

  <!-- Form starts -->
  <form class="container" [formGroup]="markAttendanceForm">
    <!-- Roll -->
    <mat-form-field>
      <mat-label>Roll No.</mat-label>
      <mat-select formControlName="roll">
        <mat-option
          *ngFor="let student of students"
          [value]="student.id | number"
          style="font-size: 14px"
        >
          {{ student.id }} - [ {{ student.name }} ]
        </mat-option>
      </mat-select>
      <!-- Required Error -->
      <mat-error
        *ngIf="
          markAttendanceForm.get('roll') &&
          markAttendanceForm.get('roll')?.hasError('required')
        "
        >Roll is REQUIRED</mat-error
      >
    </mat-form-field>

    <!-- Date -->
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Status -->
    <mat-form-field>
      <mat-label> Status </mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of statusOptions"
          [value]="status"
          style="font-size: 14px"
        >
          {{ status }}
        </mat-option>
      </mat-select>
      <!-- Required Error -->
      <mat-error
        *ngIf="
          markAttendanceForm.get('status') &&
          markAttendanceForm.get('status')?.hasError('required')
        "
        >Status is REQUIRED</mat-error
      >
    </mat-form-field>

    <button mat-raised-button (click)="handleSubmit()">Submit</button>
  </form>
  <!-- Form ends -->
</div>
