.container {
  margin-top: 10px;
  text-align: center;
  hr {
    width: 85%;
  }

  a {
    all: unset;
    cursor: pointer;
    padding: 0.8vmax 0vmax;
    background-color: black;
    color: white;
  }
  a:active {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
.page-links {
  width: 85%;
  gap: 0.8vmax;
}
